
<header>
<div class="container">
    <a href="#" routerLink="" class="logo">Food<i>In</i> ! </a>
    <nav>
        <ul>
            <li>
                
                <a *ngIf="!authservice.isAuthentificated()"href="#" routerLink="/login"> Se connecter</a>
                
                <a href="#" >Profil</a>
                <a href="#" routerLink="/plats"> Posts </a>
                <a *ngIf="authservice.isAuthentificated()" href="#"> {{authservice.authentficatedUser!.username}}</a>
                <a *ngIf="authservice.isAuthentificated()" (click)="handleLogout()">=></a>
            </li>
        </ul>
    </nav>

</div>

</header>
