header {
    background: white;
    padding: 0;
    border-bottom: 1px solid #e72929;
}



a {
    color: #af1313;
}

#link:hover {
    background: #e72929;
    color: white;
}

#header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo {
    font-weight: bold;
    padding: 1em;
    /*18px*/
}

.container {
    margin-top: 50px;
    
    
}
.badis {
background-image: url("/assets/images/falafel.jpg");

}


button:hover {
    background: #e72929;
}

div button {
    color: grey;
    height: 3rem;
width: 38.5rem;
    font-size: 1rem;
    border-radius: 10rem 10rem 10rem 10rem;
    border: none;
    background-color: red;
    color: white;
    opacity: .5;
    outline: none;
}



div button:hover {
    opacity: 1;
    cursor: pointer;
    background: #e72929;
}


