<app-header> </app-header>
<div id="titre" class="container"> 
    <h3>Admin dashboard </h3> </div>

<div class="container">
    <details open>
        <summary>Publicatins</summary>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Auteur</th> <th>Titre</th> <th>Description</th><th>Voir</th><th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let food of foods">
                        <td>{{food.auteur}}</td>
                        <td>{{food.name}}</td>
                        <td>{{food.description}}</td>
                        <td><a class="btn btn-light"><i class="bi bi-eye"><a href="href=food/{{food.id}}"></a></i></a></td>
                        <td><button (click)="handleDelete(food)" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </details>

    <details>
        <summary>Utilisateurs</summary>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>E-Mail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.username}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.surname}}</td>
                            <td>{{user.email}}</td>
                            <td><button (click)="handleDeleteUser(user)"  class="btn btn-danger"><i class="bi bi-trash"></i> </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </details>
</div>