
<div class="container mt-3 col-md-6 offset-md-3"> 
<form [formGroup]="postFormGroup" (ngSubmit)="handleAddnewPost()">
    
    <div class="mb-3">
        <label for="" class="form-label">Title : </label>
        <input type="text" formControlName="name" class="form-control">
        <small *ngIf="postFormGroup.controls['name'].errors && postFormGroup.controls['name'].touched" class="text-danger">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="mb-3">
        <label for="" class="form-label" > Description : </label>
        <input type="text" formControlName="description" class="form-control" style="height: 100px;">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Tags : </label>
        <input type="text" formControlName="tags" class="form-control">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Orignes : </label>
        <input type="text" formControlName="origins" class="form-control" >
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Photo : </label>
        <input type="file" formControlName="imageUrl" class="form-control">
    </div>
    <button [disabled]="!postFormGroup.valid" class="btn btn-outline-success" type="submit">Save</button>
</form>



</div>