
<div class="container">

    <div class="col-md-6 offset-3">
        <div class="card">
    <div class="card-header"> Profil </div>
    <div class="card-body">
        <img [src]="user.photo">
        <table>
            <tbody>
                
                <tr>
                <th>Pseudo</th>
                <td>{{user.username}}</td>
<td><i class="bi bi-pencil-square" style="margin-left: 25px;"></i></td></tr>
               
            <tr>
                <th>Nom</th>
                <td>{{user.name}}</td>
                <td><i class="bi bi-pencil-square" style="margin-left: 25px;"></i></td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{user.surname}}</td>
<td><i class="bi bi-pencil-square" style="margin-left: 25px;"></i></td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{user.email}}</td>
<td><i class="bi bi-pencil-square" style="margin-left: 25px;"></i></td>            </tr>
            <tr>
                <th>Nombre de publication</th>
                <td>{{user.nbPub}}</td>
<td><i class="bi bi-pencil-square" style="margin-left: 25px;"></i></td>            </tr>
            <tr>
                <th>Se desinscrire</th>
                <td><button (click)="handleDeleteUser(user)" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
            </tr>

            
             
            </tbody>
        </table>
    </div>
    </div>
    </div>
</div>