
<app-search></app-search>
<!--
<h1>N OUBLIE PAS DE TERMINER LES COMMENTAIRES ET MODIFIER MESSAGE +  + AJOUTER UNE PAGE POUR CONNECTER AVANT DACCEDER AU SITE
    COEUR AJOUTER SI IL EST CONNECTER + footer utiliser font awsome + profil amis + background +
</h1>
-->
<ul>
    <li *ngFor="let food of foods">
       <a routerLink="/food/{{food.id}}">
         <img src="{{food.imageUrl}}" width="400" height="250" alt="">
         <div class="content">
            <div class="name">
                {{food.name}}
            </div>
            <span class="favorite {{food.favorite?'':'not'}}">
                ❤
            </span>
            <div class="stars">
                <ngb-rating [max]="5" [(rate)]="food.stars" ></ngb-rating>
            </div>

            <div class="auteur">Auteur : {{food.auteur}}</div>

                <div class="product-item-footer">
                          <div class="origins">
                            <span>Theme : {{food.origins}}</span></div>
                </div>
         </div>
       </a>
        
    </li>
</ul>